@charset "utf-8";

h1, h2, p {
  text-align: center;
}

canvas {
  display: block;
  margin: auto;
  margin-bottom: 3em;
}

fieldset {
   text-align: center;
   width: 600px;
   margin: auto;
}

legend {
   text-align: left;
}